{% extends 'home.html' %}
{% block title %}About me{% endblock %}
{% block navhome %}{% endblock %}
{% block navabout %}active{% endblock %}
{% block navprojects %}{% endblock %}
{% block navcontactme %}{% endblock %}
{% block content %}
<p>Hi i am Het but you should call me phoenix. If you don't know what phoenix is then
    phoenix is the bird of fire. It can rebourn itself from it's ashes.
</p>
<p>I know you don't want to read all of that. But what do I do? I am habited to it.
Let's talk about me.
</p>
<p>
    I am Het S. Patel, student of Computer Engineering at <a target="_blank" href="http://www.ldce.ac.in">L. D. College of Engineering.</a>
    And I am continous learner. As part of that I am creating my personal website second time.
    yes second time! Who does that? probably no one. But my first Introduction website is kind of bad and ugly.
    If you want to look at it then Sure...Go <a target="_blank" href="https://phoenixcreation.herokuapp.com">Here.</a>
</p>
{% endblock %}